{project_plugins, [rebar3_format, rebar3_lint]}.

{erl_opts, [debug_info, report, {'enable-feature', all}]}.

{deps, [proper]}.

{ct_opts, []}.

{escript_incl_apps, [fp_lab3]}.

{escript_main_app, fp_lab3}.

{escript_name, fp_lab3}.

{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test, [{erl_opts, [debug_info]}]}]}.

{relx, [{release, {fp_lab3, "0.0.1"},
  [fp_lab3]},
  {mode, prod},
  {include_erts, false},
  {extended_start_script, true}]}.